# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Muhit kalitlari - hech qachon git'ga tushmasin
env.json

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Vercel
.vercel
